h1 {
    color: black;
    font-size: 2rem; 
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.addButton {
    display: flex;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    row-gap: 0.3rem;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
}

.addButton:hover {
    background-color: #c2c0c0a4;
    text-decoration: underline;
 }

 html {
    font-size: 120%;
    background-color: beige;
}

input {
    display: flex;
    font-size: large;
    padding: 0.5rem;
}

 ul li {
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    list-style: none;
    border-radius: 0.5rem;

 }
 
 ul li:nth-child(odd) {
    background: #ffffff;
 }

 ul li:hover {
    background: rgba(233, 233, 233, 0.888);
    text-decoration: underline;
 }

/* kilde kode på nett til check, uncheck items on the list : https://www.w3schools.com/howto/howto_ja_todolist.asp */